---
import type { GetStaticPaths } from "astro";
import Layout from "../../layouts/Layout.astro";
import { getPost, getAllSlugs, urlForImage } from "../../lib/sanity";
import { formatDate } from "../../utils/date";

export const getStaticPaths: GetStaticPaths = async () => {
  const slugs: { slug: { current: string } }[] = await getAllSlugs();
  return slugs.map(({ slug }) => {
    return {
      params: { slug: slug.current },
    };
  });
};
const { slug } = Astro.params;
if (typeof slug !== "string") {
  return Astro.redirect("/404");
}
const post = await getPost(slug);

if (!post) {
  return Astro.redirect("/404");
}
---

<Layout title={post.title}>
  <article class="mx-auto p-8 max-w-3xl">
    {
      post.mainImage && (
        <img
          class="mb-8 rounded-lg w-full h-96 object-cover"
          src={urlForImage(post.mainImage).width(1200).height(600).url()}
          alt={post.title}
        />
      )
    }
    <h1 class="mb-4 text-4xl">{post.title}</h1>
    <div class="mb-8 text-gray-600">
      {
        post.publishedAt ? (
          <time datetime={post.publishedAt}>
            {formatDate(post.publishedAt)}
          </time>
        ) : (
          <span>Publication date not available</span>
        )
      }
      {post.author && <span> · By {post.author.name}</span>}
    </div>
    <div class="leading-relaxed">
      {post.body[0].children[0].text}
    </div>
  </article>
</Layout>
