---
import { urlForImage } from "../lib/sanity";
import { formatDate } from "../utils/date";
import type { Post } from "../types";

interface Props {
  post: Post;
}

const { post } = Astro.props;
---

<article class="border-gray-200 border rounded-lg overflow-hidden">
  {
    post.mainImage && (
      <img
        src={urlForImage(post.mainImage).width(600).height(400).url()}
        alt={post.title}
        class="w-full h-52 object-cover"
      />
    )
  }
  <div class="p-6">
    <h2 class="mb-2">
      <a
        href={`/blog/${post.slug.current}`}
        class="text-inherit hover:underline no-underline">{post.title}</a
      >
    </h2>
    <p class="mb-4 text-gray-600 text-sm">
      {formatDate(post.publishedAt)}
      {post.author && <span> · By {post.author.name}</span>}
    </p>
    <p>{post.excerpt}</p>
  </div>
</article>
